.home-tabs {
    margin-top: 20px;
  }
  
  .home-tabs ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  
  .home-tabs li {
    margin: 0 10px;
  }
  
  .home-tabs li a {
    font-size: 20px;
    text-decoration: none;
    color: #333;
  }
  
  .home-tabs li a.active {
    font-weight: bold;
  }
  